<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Welcome to Plagiasure AI</title>
</head>

<body>

    <div class="hero">
        <div class="navbar">
            <img src="static/cover.png" class="logo">
            <div class="btn">
                <a href="/signup">
                <button type="button" class="btn1"> Sign Up</button></a>
                <a href="/login">
                <button type="button" class="btn2"> Login</button></a>
            </div>
        </div>
        <div class="content">
            <h2> Welcome to PlagiaSure AI</h2>
            <h1>Where Ideas<br> flourish, Plagiarism vanishes.</h1>
            <a href="/plagiarism">
                <button type="button">Try Free Version</button></a>
        </div>

        <div class="side-bar">
            <img src="static/menu.png" class="menu">

            <div class="social-links">
                <img src="static/fb.png">
                <img src="static/ig.png">
                <img src="static/tw.png">
            </div>
            <div class="useful-links">
                <img src="static/share.png">
                <img src="static/info.png">

            </div>
        </div>

        <div class="bubbles">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
        </div>
    </div>
</body>

</html>